<p style="color: green"><%= notice %></p>

<%= render @secret %>

<div>
  <%= link_to "Edit this secret", edit_secret_path(@secret) %> |
  <%= link_to "Back to secrets", secrets_path %>

  <%= button_to "Destroy this secret", @secret, method: :delete %>
</div>
